<div class="offcanvas offcanvas-start text-bg-dark d-flex flex-column" tabindex="-1" id="sidebar"
  aria-labelledby="sidebarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarLabel">
      <a style="text-decoration: none; color: white;" href="index.html">
        <i class="fas fa-home" style="margin-right: 6px;"></i> MM4SLR
      </a>
    </h5>

    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>


  <div class="offcanvas-body d-flex flex-column justify-content-between flex-grow-1 p-0">
    <ul class="nav flex-column p-3">
      <li class="nav-item text-white-50 fw-bold mt-4">Documentation</li>
      
      <li class="nav-item"><a class="nav-link text-white" href="full-documentation.html">Quick introduction to MM4SLR</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="mm4slr.html">See the full maturity model</a></li>

      <li class="nav-item text-white-50 fw-bold mt-4">Tools</li>
      <li class="nav-item"><a class="nav-link text-white" href="checklist.html">MM4SLR Checklist <span class="badge text-bg-warning">soon</span></a></li>
      <li class="nav-item"><a class="nav-link text-white" href="LLM-evaluation.html">LLM-evaluation of Maturity <span class="badge text-bg-warning">soon</span></a></li>

    </ul>

    <ul class="nav flex-column p-3">
      <li class="nav-item text-white-50 fw-bold mt-4">Survey</li>
      <li class="nav-item"><a class="nav-link text-white" href="survey.html">Participate to improve our tool :)</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="../private/pages/keypractices.html">Go to private area</a></li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-dark bg-dark text-white">
  <div class="container-fluid">
    <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
      aria-controls="sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>